body {
    background-color: rgb(240, 240, 240); 
    text-align: center;
}

h1 {
    font-style: italic;
    color: rgb(0, 0, 0); 
    font-size: larger;
}

h2 {
    color: rgb(200, 16, 46); 
    font-weight: 200;
}

.imagem {
    width: 50%;
}

.imagem2 {
    width: 40%;
}

.lista {
    text-align: left;
    color: rgb(0, 0, 0); 
}

.pizza {
    color: crimson; 
}
