body{
    background-color: rgb(231, 217, 237);
    text-align: left;
   }
   h1 {
       font-style: italic;
       color: rgb(27, 165, 0);
   }
   h2 {
       color: rgb(42, 207, 10);
   }
   
   .imagem {
       width: 70%;
       text-align: center;
   }