body{
    background-color: rgb(231, 217, 237);
    text-align: left;
   }
   h1 {
       font-style: italic;
       color: rgb(253, 255, 252);
   }
   h2 {
       color: rgb(0, 0, 0);
   }
   
   .imagem {
       width: 70%;
   }